.rounded-img__container {
  background-color: var(--grey-light);
  border-radius: 50%;
  border: 2px solid var(--blue-accent)
}

.rounded-img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.rounded-img__container--small {
  width: 3rem;
  height: 3rem;
}

.rounded-img__container--large {
  width: 4rem;
  height: 4rem;
}