.message-my {
  border-radius: 0 10px 0 0;
  background-color: var(--blue-accent);
  color: white;
  height: auto;
}

.message-users {
  border-radius: 10px 0 0 0;
  background-color: white;
  color: black;
}

.message-notification {
  background-color: var(--blue-light);
  color: var(--blue-dark); 
}